# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.idx
.codelite/ControllingProgramFlow-andre.tags
build-Debug/ifStatement/ObjectsList.txt
ifStatement/ifStatement.mk
Makefile
ifElseStatement/ifElseStatement.project
ifElseStatement/.clang-format
ifElseStatement/.clangd
ControllingProgramFlow.workspace
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow.session
build-Debug/ifElseStatement/ObjectsList.txt
compile_commands.json
ifElseStatement/ifElseStatement.mk
compile_commands.json
compile_commands.json
.codelite/ControllingProgramFlow.session
NestedIfStatement/NestedIfStatement.project
NestedIfStatement/.clangd
NestedIfStatement/.clang-format
ControllingProgramFlow.workspace
compile_commands.json
.codelite/ControllingProgramFlow-andre.tags
NestedIfStatement/main.cpp
NestedIfStatement/Grades.mk
ControllingProgramFlow.workspace
ControllingProgramFlow.workspace
Shipping/.clang-format
Shipping/.clangd
Shipping/Shipping.project
ControllingProgramFlow.workspace
ControllingProgramFlow.workspace
Switch/.clang-format
Switch/.clangd
Switch/Switch.project
ControllingProgramFlow.workspace
compile_commands.json
.codelite/ControllingProgramFlow.session
.codelite/ControllingProgramFlow-andre.tags
ControllingProgramFlow.workspace
Switch/Switch.mk
.codelite/ControllingProgramFlow-andre.tags
build-Debug/Switch/ObjectsList.txt
SwitchEnum/.clang-format
SwitchEnum/.clangd
SwitchEnum/SwitchEnum.project
build-Debug/SwitchEnum/ObjectsList.txt
compile_commands.json
SwitchEnum/SwitchEnum.mk
ControllingProgramFlow.workspace
.codelite/ControllingProgramFlow.session
.codelite/ControllingProgramFlow-andre.tags
compile_commands.json
ConditionalOperator/.clang-format
ConditionalOperator/.clangd
ConditionalOperator/ConditionalOperator.project
ControllingProgramFlow.workspace
build-Debug/ConditionalOperator/ObjectsList.txt
ConditionalOperator/ConditionalOperator.mk
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow.session
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow.session
ControllingProgramFlow.workspace
forLooping/.clang-format
forLooping/.clangd
forLooping/forLooping.project
ControllingProgramFlow.workspace
.codelite/ControllingProgramFlow-andre.tags
compile_commands.json
.codelite/ControllingProgramFlow-andre.tags
build-Debug/forLooping/ObjectsList.txt
ControllingProgramFlow.workspace
forLooping/forLooping.mk
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow.session
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow.session
compile_commands.json
ControllingProgramFlow.workspace
RangeBasedForLoop/.clang-format
RangeBasedForLoop/.clangd
RangeBasedForLoop/RangeBasedForLoop.project
compile_commands.json
compile_commands.json
ControllingProgramFlow.workspace
RangeBasedForLoop/RangeBasedForLoop.mk
.codelite/ControllingProgramFlow-andre.tags
build-Debug/RangeBasedForLoop/ObjectsList.txt
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow.session
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow.session
ControllingProgramFlow.workspace
ControllingProgramFlow.workspace
.codelite/ControllingProgramFlow-andre.tags
ControllingProgramFlow.workspace
.codelite/ControllingProgramFlow-andre.tags
.codelite/ControllingProgramFlow-andre.tags
WhileLoop/WhileLoop.project
WhileLoop/.clangd
WhileLoop/.clang-format
ControllingProgramFlow.workspace
compile_commands.json
.codelite/ControllingProgramFlow-andre.tags
compile_commands.json
